.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 95%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 90px;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}
.table th {
  background-color: grey;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: fixed;
  bottom: 30px;
}

.pagination button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.pagination button.active {
  background-color: #008cba; /* Change to your preferred color */
  color: white;
}
